@media (min-width: 319px) {
  .nav {
    justify-content: space-between;
  }
  .navToggler {
    display: flex;
    cursor: pointer;
  }

  .webLinks {
    display: none;
  }

  .nav a {
    color: #00338d;
    text-decoration: none;
  }
}

@media (min-width: 600px) {
  .nav {
    justify-content: flex-start;
  }
  .navToggler {
    display: none;
  }

  .webLinks {
    display: flex;
    padding: 1.4rem 0.2rem;
    margin-right: 2rem;
  }
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
  position: relative;
  color: #00338d;
  -webkit-box-shadow: 0 4px 6px -6px #00338d;
  -moz-box-shadow: 0 4px 6px -6px #00338d;
  box-shadow: 0 4px 6px -6px #00338d;
}

.nav a:hover {
  color: #c60c30;
  text-decoration: underline;
}

.nav img {
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
}
