@media (min-width: 319px) {
  .red {
    background-color: #c60c30;
    width: 0.2rem;
    height: 100%;
  }
  .blue {
    background-color: #00338d;
    width: 0.4rem;
    height: 100%;
  }
  .white {
    background-color: white;
    width: 0.2rem;
    height: 100%;
  }

  .ribbon {
    display: flex;
    margin: 0 1rem;
  }
}

@media (min-width: 600px) {
  .red {
    width: 0.5rem;
  }
  .blue {
    width: 1rem;
  }
  .white {
    width: 0.5rem;
  }
  .ribbon {
    display: flex;
    margin: 0 0.2rem;
  }
}
