.red {
  background-color: #c60c30;
  width: 0.5rem;
  height: 100%;
}
.blue {
  background-color: #00338d;
  width: 1rem;
  height: 100%;
}
.white {
  background-color: white;
  width: 0.5rem;
  height: 100%;
}

.ribbon {
  display: flex;
  margin: 0 1rem;
}
